/** Your theme modifications here **/
.search-productList{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
a.active_lang {
    /* color: black; */
    color: #4fef00!important;
    border: 2px solid white;
    padding: 5px;
}
.upsell-offer-box{
	border: 1px solid lightgrey;
    padding: 20px;
	overflow: hidden;
	float: right;
	margin: 0 0 25px 0;
	background-color: #f1f0f0;
}
.AddUpsellToOrder{
	float: right;
}
.itemNameTd, .itemNameTd p{
	max-width: 105px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 100px;
}
.itemNameTd{
	border-right: 1px solid lightgray
}
.itemNameTd p{
	margin: 0px;
}
.box-footer{
	clear:both;
}
.hideProceed{
	display: none;
}
